<div>
  <mat-list>
    <div mat-list-item *ngFor='let person of people'>
      <mat-card>
        <mat-card-title>
          {{ person.fullName() }}
        </mat-card-title>
        <mat-card-actions>
          <button mat-button mat-raised-button (click)="edit(person)">Edit</button>
          <button mat-button mat-raised-button *ngIf="person.spouse" (click)="addChild(person)">Add Child</button>
          <button mat-button mat-raised-button *ngIf="!person.spouse" (click)="addSpouse(person)">Add Spouse</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-list>
</div>