<div>
  <form [formGroup]="person" (ngSubmit)="createPerson(person)">
    <mat-card>
      <div [ngSwitch]="personType">
        <mat-card-title *ngSwitchCase="'spouse'">
          Add spouse to {{ subject.fullName() }}
        </mat-card-title>
        <mat-card-title *ngSwitchCase="'child'">
          Add a child to {{ subject.fullName() }} and {{ subject.spouse.fullName() }}
        </mat-card-title>
        <mat-card-title *ngSwitchDefault>
          Add a person
        </mat-card-title>
      </div>
      <mat-card-content>
        <mat-form-field>
          <input matInput formControlName="firstName" type="text" placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="lastName" type="text" placeholder="Last name">
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="email" type="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="mobile" type="tel" placeholder="Mobile">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="birth" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button mat-raised-button color="primary" [disabled]="person.invalid" type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>